<h1> <small>¡¡ Vote por su vengador favorito !!</small></h1>
<div class="container">
    <div class="row">
        <div class="col-lg-3 d-flex aling-items-strech" *ngFor="let superheroe of avengers; let i = index">
            <div class="card">
                <img [src]="superheroe.imagen" [alt]="superheroe.alias">
                    <h5 class="card-title">{{superheroe.nombre}}</h5>
                    <p class="card-text">{{superheroe.alias}}</p>
                    <p class="card-text">{{superheroe.especie}}</p>
                    <p class="card-text">{{superheroe.nacionalidad}}</p>
                    <p class="card-text">{{superheroe.fecha_nacimiento}}</p>
                    <p class="card-text"><small class="text-muted">{{superheroe.frase}}</small></p>
                    <p class="card-text"><small class="text-muted">likes: {{superheroe.me_gusta}}</small></p>
                    <p class="card-text"><small class="text-muted">disLikes: {{superheroe.no_me_gusta}}</small></p>
                    <button type="button" (click)="setLike(i)" class="btn btn-dark " data-mdb-ripple-color="dark" style="margin-top: auto;">Like</button>
                    <button type="button" (click)="setDisLike(i)" class="btn btn-dark " data-mdb-ripple-color="dark">Dislike</button>
                </div>
            </div>
        </div>
    </div>